{% extends 'base.html' %}
{% block content %}

<!-- Header -->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About</h1>
                    <p class="lead fw-normal text-white-50 mb-0">WELCOME TO MORTAL SHOPPING</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue nisi a est viverra, eget mattis urna vehicula. Curabitur tristique felis vel dui sodales semper. Quisque ipsum ligula, vehicula rutrum laoreet ac, pharetra vitae massa. Cras luctus quis erat eget hendrerit. In hac habitasse platea dictumst. Nulla laoreet laoreet vulputate. Fusce lacinia metus mauris, nec varius sem cursus eget. Vivamus semper eget neque vitae auctor.
                        <br/><br/>
                        Nulla id metus pharetra quam sodales elementum a in urna. Phasellus accumsan, velit vel dictum consectetur, orci quam accumsan elit, vel imperdiet est libero vitae justo. Ut cursus dignissim nisl, eu blandit nisl pulvinar id. Pellentesque ac ante lectus. Morbi ullamcorper sed purus dictum viverra. Sed interdum sit amet leo non efficitur. Etiam tortor lectus, elementum eu tristique fermentum, efficitur sed augue. Donec sagittis euismod nisl ut tempus. Mauris facilisis justo vel tellus bibendum, sed tempus sapien varius. Quisque interdum sodales sodales. Donec eget gravida ligula. Donec vulputate dignissim laoreet. Praesent at pulvinar diam. In condimentum, metus eu luctus blandit, eros arcu rutrum elit, nec condimentum nisi tellus in dui.
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}
